
[Unit]
Description=Distributed Reliable Operations Platform

[Service]
Type=simple

User=root
Group=root

ExecStart=/opt/drop/ppool/scripts/drop start
ExecStop=/opt/drop/ppool/scripts/drop stop
KillMode=process

Restart=on-failure


[Install]
WantedBy=multi-user.target
